.my-component {
    position: fixed;
    width: 50px;
    height: 75px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    overflow: auto;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  }
  
  .my-component.bottom-right {
    bottom: 10px;
    right: 10px;
  }
  
  .my-component.bottom-left {
    bottom: 10px;
    left: 10px;
  }
  
  .my-component.top-left {
    top: 10px;
    left: 10px;
  }
  
  .my-component.top-right {
    top: 10px;
    right: 10px;
  }
  
  .my-component.center-bottom {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .my-component.center-top {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .my-component.expanded {
    width: 600px;
    height: 600px;
  }
  
  @media (max-width: 600px) {
    .my-component.expanded {
      width: calc(100vw - 20px);
      /* height: calc(100vw - 20px); */
    }
  }
  
  .my-component h1,
  .my-component p {
    margin: 0;
    word-wrap: break-word;
    /* text-align: center; */
  }
  

  body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
  }
  
  .container {
    border: 2px solid #dedede;
    background-color: #9F7AEA;
    color: #2C313D;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    color: #FFF;
    background-color: #2C313D;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0em
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #888
}
::-webkit-scrollbar-thumb {
    background: #eee
}

/* body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  overflow-y: hidden; 
} */

.form-control, select, textarea, input {
  background-color: #171923;
  color: lightgray;
  border-radius: 5px;
  border: solid 1px gray;
  }
  
  .form-control:disabled, select:disabled, textarea:disabled {
    background-color: #171923;
    color: gray;
    border-radius: 5px;
    border: solid 1px gray;
  }
  
  .form-control:active, .form-control:focus, select:active, select:focus {
  background-color: #171923; /* This makes the background remain the same color when focused */
  color: lightgray;
  outline: none; /* This removes the outline that appears on some browsers when the input is focused */
  }
  
  .form-control::placeholder {
  color: gray; /* This changes the color of the placeholder text */
  }
  
  #messageForm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  background: linear-gradient(to top, #171923 0%, #171923 80%, rgba(255,0,0,0) 100%)
  }
  
  .message {
  padding: 1em;
  display: block;
  word-wrap: break-word;
  }
  .user {
  background-color: #5E35B1;
  color: white;
  z-index: 10;
  position: relative;
  }
  .assistant {
  background-color: #171923;
  color: white;
  z-index: 10;
  position: relative;
  }
  .my-custom-code-class {
  /* padding: 10px; */
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
  }
  .my-custom-class {
  background-color: #000;
  color:greenyellow;
  padding: 3px;
  border-radius: 3px;
  }
  /* Works on Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
  width: 3px;
  height: 1px;
  }

  .primary-btn {
    background: #5E35B1;
    color: #f8f8f8;
  }
  
  ::-webkit-scrollbar-track {
  background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
  background: #5E35B1; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #555; 
  }
  
  .delete-btn {
  position: absolute;
  bottom: -10px;
  right: -10px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  }
  .message-wrapper {
  position: relative;
  width: 100%;
  }
  
  #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  }
  
  #content-wrap {
  /* position: relative; */
  z-index: 1;
  }
  
  .navbar {
  z-index: 1000;
  }