.my-component {
    position: fixed;
    width: 50px;
    height: 75px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  }
  
  .my-component.bottom-right {
    bottom: 10px;
    right: 10px;
  }
  
  .my-component.bottom-left {
    bottom: 10px;
    left: 10px;
  }
  
  .my-component.top-left {
    top: 10px;
    left: 10px;
  }
  
  .my-component.top-right {
    top: 10px;
    right: 10px;
  }
  
  .my-component.center-bottom {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .my-component.center-top {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .my-component.expanded {
    width: 600px;
    height: 600px;
  }
  
  @media (max-width: 600px) {
    .my-component.expanded {
      width: calc(100vw - 20px);
      /* height: calc(100vw - 20px); */
    }
  }
  
  .my-component h1,
  .my-component p {
    margin: 0;
    word-wrap: break-word;
    /* text-align: center; */
  }
  

  body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
  }
  
  .container {
    border: 2px solid #dedede;
    background-color: #9F7AEA;
    color: #2C313D;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    color: #FFF;
    background-color: #2C313D;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0em
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #888
}
::-webkit-scrollbar-thumb {
    background: #eee
}